



body {
    color: black;
    background-color: rgb(255,99,71, 0.25);

    
}

h1{
    color:black;
    text-align:center;
}

h2{
    color:navy; 

}

h3{
    text-align:left;

}

img {
    margin: auto;
    display: block;
    border: groove;
    border-color:rgb(255,99,71, 0.6)
}

a {
    text-align:center;
}

p {
    text-align: left;
}

#GH {
    color:rgb(255,99,71, 1.25);
    font-family: Georgia, serif;
    text-align: center;
}

.ghLink {
    color:blue;
    border: groove;
    border-color:rgb(255,99,71, 0.6);
    border-width: 3px;
    border-length: 10px;
    text-align: center;

}
